.about-us {
  border-bottom: 4px solid #50A494;
	font-style: normal;
	font-weight: 600;
	font-size: 2.3rem;
	line-height: 3.5rem;
}

.div-about {
  display: flex;
  justify-content: center;
  margin: 12.8rem 0 10.6rem 0;
}

.title-about {
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
}

.title-about {
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
	margin-bottom: 23px;
}

.description-about {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 62px;
}

.btn-about {
	width: 204px;
	height: 60px;
	background: #50A494;
	border-radius: 30px;

	font-style: normal;
	font-weight: 600;
	font-size: 1.1rem;
	line-height: 1.6rem;
	color: #FFFFFF;
}

.img-about {
	width: 27.75rem;
	height: 38.6rem;
}

.img-about2 {
	position: absolute;
	margin-left: -17.81rem;
	margin-top: 5rem;
}

.img-about3 {
	position: absolute;
	margin-left: -11.125rem;
	margin-top: 26.68rem;
}

@media screen and (max-width: 1444px) {

  .div-img-about {
    width: 100%;
  }

  .div-about {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .title-about {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 18px;
  }

  .description-about {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  .img-about {
    width: 16.25rem;
    height: 22.6rem;
    margin-bottom: 7rem;
  }

  .img-about2 {
    width: 13rem;
    height: 9.3rem;
    margin-left: -5.5rem;
    margin-top: 3rem;
  }

  .img-about3 {
    width: 13rem;
    height: 9.3rem;
    margin-left: -10rem;
    margin-top: 16rem;
  }

  .btn-about {
    display: none;
  }

  .about-mobile {
    flex-direction: column-reverse;
  }

}