.button {
	display: inline-block;
	border-radius: 1.5rem;
	padding: 0.438rem 1.25rem;
}
.button--state-success {
	color: #FFF;
	background: #50A494;
	border-color: #50A494;
    border: 0.063rem solid #569E3D;
}