.card-group {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.card-group img {
    height: 19.5rem;
    width: 19.5rem;
    border-radius: 10px;
}

.card-group p {
    margin-bottom: .3rem;
}

.card {
    cursor: pointer;
}

.card-body {
    margin-top: 1rem;
}

.card-title {
    font-weight: 500;
}

.card-description {
    font-weight: 300;
    color: #828282;
}

.card-discount {
    font-weight: bold;
}

@media only screen and (max-width: 1600px) {
    .card-group img {
        height: 16rem;
        width: 16rem;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 1400px) {
    .card-group img {
        height: 18rem;
        width: 18rem;
        border-radius: 10px;
    }

    .card-group {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1200px) {
    .card-group {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .card-group img {
        height: 14rem;
        width: 14rem;
        border-radius: 10px;
    }

    .card-description {
        font-size: .7rem;
    }
}

@media only screen and (max-width: 980px) {
    .card-group {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .card-group img {
        height: 12rem;
        width: 12rem;
        border-radius: 10px;
    }
}


@media only screen and (max-width: 850px) {
    .card-group {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 650px) {
    .card-group {
        grid-template-columns: repeat(2, 1fr);
    }
}