.premium {
background: #50A494;
margin-bottom: 6.25rem;
margin-top: 7.87rem;
padding: 9.75rem 0;
}

.card-premium {
background: #FFFFFF;
color: #000000;
width: 60.25rem;
height: 27.87rem;
border: 1px solid #FFFFFF;
border-radius: 20px;
}

.card-premium-info {
border-right: 1px solid #C6C6C6;
}

.btn-sign {
width: 22rem;
height: 3.75rem;
background: #50A494;
border-radius: 30px;
}

/* TEXT CARD */
.title-card {
font-style: normal;
font-weight: 600;
font-size: 4.45rem;
line-height: 83px;
color: #FFFFFF;
}

.subtitle {
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 40px;
color: #FFFFFF;
}

.text-info-card {
/* font-weight: 700; */
/* font-style: normal;
size: 1.13rem;
color: #000000; */
}

.text-sign {
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
color: #A7A7A7;
}

.text-price {
font-weight: 700;
font-size: 5.7rem;
}

.text-bnt-card {
font-style: normal;
font-weight: 600;
font-size: 1.125rem;
line-height: 27px;
color: #FFFFFF;
}

.coin {
font-weight: 600;
font-size: 2.4rem;
}

@media screen and (max-width: 980px) {

  .premium {
    background: #FFFFFF;
    margin-top: 3.3rem;
    padding: 0;
    margin-bottom: 0;
  }

  .card-premium {
    display: flex;
    justify-content: center;
  }

  .card-premium-info {
    display: none;
  }

  .div-title-card {
    display: none;
  }

  .text-sign {
    font-size: 1rem;
  }

  .text-price {
    font-size: 4.9rem; 
  }

  .card-sign {
    width: 22rem;
    height: 21.4rem;
    border: 1px solid #D3D3D3;
    border-radius: 14px;
  }

  .btn-sign {
    width: 18.8rem;
    height: 3.2rem;
  }

}