.container-detail {
    margin-right: auto; 
    margin-left: auto;
}

.container-body-detail {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
}

.container-header-small {
    display: none;
}

.image-logo-small {
    height: 2rem;
}

.container-header-large {
    max-width: 1600px;
    margin: 0 auto;
}

.header-logo-detail {
    height: 2.3rem;
}

.container-category-selector {
    max-width: 1600px;
    margin: 0 auto;
}

.container-list-places-detail {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 30rem;
    position: absolute;
    border-radius: 1.25rem;
    padding: 1.25rem;
    margin-top: 4rem;
    margin-left: -2rem;
    background: #ffffff;
}

.list-places-detail {
    display: flex;
    align-items: center;
    margin: 1.25rem;
    cursor: pointer;
}

.list-places-detail-description {
    margin-left: 1rem;
}

.list-places-detail-description p {
    font-weight: 500;
}

.list-places-detail-description span {
    font-weight: 300;
    color: #828282;
}

@media only screen and (max-width: 1600px) {

    .container-category-selector {
        max-width: 1400px;
        margin: 0 auto;
    }

    .container-header-large {
        max-width: 1400px;
        margin: 0 auto;
    }

    .container-body-detail {   
        max-width: 1400px;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 1400px) {

    .container-category-selector {
        max-width: 1200px;
        margin: 0 auto;
    }

    .container-header-large {
        max-width: 1200px;
        margin: 0 auto;
    }

    .container-body-detail {   
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1200px) {

    .container-category-selector {
        max-width: 1000px;
        margin: 0 auto;
    }

    .container-header-large {
        max-width: 1000px;
        margin: 0 auto;
    }

    .container-body-detail {   
        max-width: 1000px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 980px) {
    .container-body-detail {
        display: flex;
        justify-content: center;
        margin-top: 1.25rem;
    }
    .container-header-large {
        display: none;
    }

    .container-header-small {
        display: block;
        padding: 1rem 1.25rem;
    }

    .container-category-selector {
        overflow-x: scroll;
        white-space: nowrap;
    }
}