.btn-gallery {
  width: 4.43rem;
  height: 4.43rem;
  border-radius: 50%;
  background: #EDEBEB;
  color: rgba(0, 0, 0, 0.54);
}

.clicked {
  background: #50A494;
  color: #FFFFFF;
}

hr {
  width: 271px;
  height: 4px;
  margin-bottom: 4.37rem;
  background: #50A494;
}

.img-gallery-three {
  width: 28.5rem;
  height: 31.5rem;
}

.img-gallery-place img {
  border-radius: 1rem;
  width: 100%;
}

.score {
  background-color: rgba(254, 242, 221, 0.8);;
  border-radius: 1.75rem;
  width: 6.8rem;
  height: 3.5rem;
}

.img-star {
  color: #fcba03;
}

.percent {
  position: absolute;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 1.25rem;
  width: 5.1rem;
  height: 2.5rem;
  margin-top: 1.5%;
  margin-left: 12%;

  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.6rem;

  color: #50A494;
}

.percent4 {
  position: absolute;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 1.25rem;
  width: 4.5%;
  height: 4.5%;
  

  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.6rem;

  color: #50A494;
}

/* TITLES */
.title-gallery1 {
  font-weight: 600;
  font-size: 38.1325px;
  line-height: 57px;
}

.h3-place {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.h4-place {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.title-place {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: .8rem;
}

@media screen and (max-width: 980px) {

  .place-mobile {
    gap: 1rem;
  }

  .w-mobile {
    width: 100%;
    overflow: hidden;
  }

  .container-btn-gallery {
    display: none;
  }

  .mt5-mobile {
    margin-top: 2rem;
  }

  .title-gallery1 {
    font-size: 24px;
    line-height: 36px;
  }

  hr {
    width: 354px;
  }

  .title-place {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .h3-place {
    font-size: 16px;
    line-height: 24px;
  }

  .h4-place {
    font-size: 14px;
    line-height: 21px;
  }

  .percent {
    border-radius: 1.25rem;
    width: 2.3rem;
    height: 1.2rem;
    margin-top: 0.75rem;
    margin-left: 10.3rem;
  
    font-weight: 600;
    font-size: 0.5rem;
    line-height: 0.75rem;
  }

}