.navbar-search-detail {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
}

.search-detail {
    margin-top: 72px;
    display: flex;
    border-top: 0.063rem solid #eeeeee;
    border-bottom: 0.063rem solid #eeeeee;
    padding: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
}

.container-list-places {
    margin-top: 170px;
}

.list-places {
    display: flex;
    align-items: center;
    margin: 1.25rem;
    cursor: pointer;
}

.list-places-description {
    margin-left: 1rem;
}

.list-places-description p {
    font-weight: 500;
}

.list-places-description span {
    font-weight: 300;
    color: #828282;
}

@media screen and (max-width: 980px) {
    .container-list-places-home {
        display: none;
    }
}