.search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	margin-top: -3.5rem;
	width: 60rem;
	height: 6.5rem;
	background: #FFFFFF;
	/* background: #D6D6D6; */
	box-shadow: 0px 4px 4px rgba(137, 137, 137, 0.25);
	border-radius: 102.5px;
	padding: 1.25rem;
}

.state,
.city,
.second-group {
	display: flex;
	align-items: center;
}

.count-state,
.count-city {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	margin-right: 15px;

	background: rgba(80, 164, 148, 0.32);
}

.state {
	width: 21.4rem;
	border-right: 1.5px solid #D6D6D6;
}

.second-group {
	width: 37rem;
	justify-content: space-between;
	margin-left: 2rem;
}

.place {
	display: flex;
	align-items: center;
}

.search input {
	width: 15rem;
	height: 18px;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.125rem;
	color: #B4B4B4;
	outline: none;
}

.btn-search {
	width: 11rem;
	height: 4rem;
	border-radius: 2rem;
	background: #D9343D;
	color: #FFFFFF;

	font-weight: 500;
	line-height: 1.125rem;
	font-size: 1rem;
}

.container-list-places-home {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 60rem;
    position: absolute;
    border-radius: 1.25rem;
    padding: 1.25rem;
    margin-top: 4rem;
    background: #ffffff;
}

.list-places-header-home {
	border-bottom: 1px solid #eeeeee;
}

.list-places-home {
    display: flex;
    align-items: center;
    margin: 1.25rem;
    cursor: pointer;
}

.list-places-home-description {
    margin-left: 1rem;
}

.list-places-home-description p {
    font-weight: 500;
}

.list-places-home-description span {
    font-weight: 300;
    color: #828282;
}


@media screen and (max-width: 980px) {

	.search {
		width: 21.7rem;
		height: 2.4rem;
		margin-top: -1.7rem;
	}

	.btn-search {
		width: 4rem;
		height: 1.4rem;
	}

	.state h4,
	.second-group h4,
	.count-city,
	.count-state {
		font-size: 0.4rem;
	}

	.div-state,
	.div-city {
		height: 1.8rem;
	}

	.count-state,
	.count-city {
		width: 1.3rem;
		height: 1.3rem;
		margin-left: 1rem;
	}

	.search input {
		width: 3.7rem;
		height: 0.6rem;
		font-weight: 400;
		font-size: 0.4rem;
		line-height: 0.6rem;
		color: #B4B4B4;
	}

}